* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  // max-height:100%;
}

body {
  width: 100%;
  background-image: url('../img/bg.png');
  background-size: auto;
  font-size: 16px;
}

.social-media-header {
  width: 100%;
  height: 65px;
}

.icons-social {
text-align: right;
right: 20px;
}


.icons-social i {
  width: 15%;
  text-align: center;
  font-size: 3em;
  margin-top: 10px;

}
.icons-social i:not(:last-child) {
  margin-right: 15px;
}


.subscribe a {
  color: white;
  top: 40%;
  right: 50px;
  position: absolute;
  font-style: none;
  color: white;
}
.subscribe a:hover {
  text-decoration: none;
}

nav div .col-md {
  color: white;
  background-color: #A63634;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0px 5px 0px 0px rgba(158,158,158,0.42);
}

nav div .col-md:not(:last-child) {
  margin-right: 10px;
}

header i {
  font-size: 3em;
  text-align: right;
}
.container {
  padding: 0px;
}

#carousel {
  position: relative;
  height: 20vw;
  min-height: 300px;
  overflow: hidden;
  background-image: url("../img/top-image.png");
  background-repeat: no-repeat;
  background-position: 35% 25%;
  border: solid 10px white;
  box-shadow: 0px 5px 0px 0px rgba(158,158,158,0.42);
}
#carousel > .grid {
  opacity: .3;
}

#carousel > .logopic {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 25rem;

}
@media (min-width: 768px) {
  #carousel > .logopic {
    left: 3%;

    transform: translateY(-50%);
  }
}
.photoGuy{
  position: relative;
}
section:not(:last-child) {
  margin-bottom: 30px;
}

.logopic {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

button {
  margin-left: 75px;
  color: red;
}

.sk8news .col-md{
  background-color: white;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 8pt solid white;

}

// clean this up
.sk8news .col-md:not(:last-child) {
  margin-right: 10px;
}

.skateboarders {
  border: solid 5px #fff;
  position: relative;
}
.skateboarder_lance {
  margin-bottom: 20px;
  height:300px;

}
.skateboarder_steve {
  height: 280px;
  margin-bottom: 20px;
}
.skateboarder_rodney {
  height: 100%;
  margin-bottom:20px;

}

.w-100 {
  height: 15px;
}

.skateboarders span {
  position: absolute;
  text-transform: uppercase;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.skateboarder_tommy {
  padding: 0;
  height: 100%;
}

#skateboards {
  background: #fff;
  padding: 20px;
  border-color: #fff;
  position: relative;

}

.skateboard-image {
  position: relative;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-25%);
  height: 260px;
  width: 65px;
  // left: 40px;
}

.skateboard-image img {
  width: 260px;
  height: 65px;
  top:0;
}
